* text=auto
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.js text eol=lf
*.json text eol=lf
*.wxml text eol=lf
*.wxss text eol=lf
*.md text eol=lf
*.jpg binary
*.jpeg binary
*.png binary
